/* Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/********************
	Links
********************/

a.primary{
  display:block;
  background-color: #d7e5f5;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d7e5f5), color-stop(100%, #cbe0f5));
  background-image: -webkit-linear-gradient(top, #d7e5f5, #cbe0f5);
  background-image: -moz-linear-gradient(top, #d7e5f5, #cbe0f5);
  background-image: -ms-linear-gradient(top, #d7e5f5, #cbe0f5);
  background-image: -o-linear-gradient(top, #d7e5f5, #cbe0f5);
  background-image: linear-gradient(top, #d7e5f5, #cbe0f5);
  border-top: 1px solid #abbbcc;
  border-left: 1px solid #a7b6c7;
  border-bottom: 1px solid #a1afbf;
  border-right: 1px solid #a7b6c7;
  border-radius: 12px;
  -webkit-box-shadow: inset 0 1px 0 0 white;
  box-shadow: inset 0 1px 0 0 white;
  color: #1a3e66;
  padding: 10px;
  font-size: 12px;
  text-align: center;
  text-shadow: 0 1px 1px #fff;
  text-decoration: none;
}


/********************
	Main Structure
********************/
body{
	font-family:Verdana;
	font-size:12px;
	background:#B5CC82;
}

strong{
	font-weight: bold;
}

em{
	font-style: italic;
}

#wrap{
	width:100%;
	max-width:800px;
	margin:0 auto;
}

header{
	text-align:center;
	margin:20px auto;
}

footer{
	text-align: center;
	margin-top:30px;
}

.content{
	background-color:rgba(234, 248, 239, 0.45);
	margin:0 2em;
	padding:2em;
	line-height: 1.3em;
}

.content p{
	margin:2em 0;
}

h1 {
	color: white;
	font-size: 30px;
	font-weight: bold;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.68);
	letter-spacing: -1px;
	margin-bottom:10px;
}

h2{
	font-size:20px;
	display:inline;
	font-weight: bold;
}

h3{
	font-size:16px;
}

/*
header .logo{
	margin-top:100px;
	margin-bottom:100px;
	height:300px;
	width:300px;
	opacity:.5;
}
*/
p.quip {
	color: #243748;
	font-size: 18px;
	line-height: 24px;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
}

ul.nouns{
	list-style-type: circle;
	margin-bottom:5px;
}
ul.nouns li{
	display:inline-block;
	margin-left:3px;
	padding-left:5px;
	border-left: solid 1px #000;
}

ul.nouns li:first-child{
	margin-left:0;
	padding-left:0;
	border-left:none;
}



dl.contact dt, dl.contact dd{
	display:inline-block;
}


nav{
	display:block;
	margin:10px auto;
}

nav ul li{
	display:inline-block;
}


/* Resume */

.resume section{
	padding:10px 0;
	clear:both;
}

.resume .underlined{
	border-bottom: solid 1px #000;
	margin-top:10px;
	height:1.5em;
}

.resume .indented{
	margin-top:20px;
	padding-left:20px;
}

.resume ul{
	list-style-type: circle;
	padding-left:20px;
	padding-bottom: 20px;
}

dl.proficiences{
	margin-top: 10px;
}

dl.proficiences dt, dl.proficiences dd{
	float:left;
}

dl.proficiences dt{
	clear:left;
	font-weight: bold;
	margin-right:5px;
}






















#logo {
    width: 50%;
	opacity:.75;
	margin:20px 25%;


    display: inline-block;
    position: relative;
    overflow:hidden;

    -webkit-user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	background: #ededed; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #ededed 0%, #b5cc82 66%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ededed), color-stop(66%,#b5cc82)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #ededed 0%,#b5cc82 66%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #ededed 0%,#b5cc82 66%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #ededed 0%,#b5cc82 66%); /* IE10+ */
	background: radial-gradient(center, ellipse cover,  #ededed 0%,#b5cc82 66%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#b5cc82',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
}

#logo:after {
    padding-top: 110%;
    display: block;
    content: '';
}
.inner {
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0;
}

#logo #L_BLOCK{
	background: url(/img/logo-seperates/L_BLOCK.svg) no-repeat top left;
	background-size: 100%;
	position:absolute;
	top:9%;
	right:0;
	width:44%;
	height:35%;
}

#logo #L_BOTTOM{
	background: url(/img/logo-seperates/L_BOTTOM.svg) no-repeat top left;
	background-size: 100%;
	position:absolute;
	bottom:-19%;
	right:-29%;
	width:73%;
	height:55%;
	opacity:0;
}

#logo #L_VERTICAL{
	background: url(/img/logo-seperates/L_VERTICAL.svg) no-repeat bottom right;
	background-size: 100%;
	position:absolute;
	top:18%;
	right:0;
	width:44%;
	height:25%;
}

#logo.lockup #L_BOTTOM{
	-webkit-transition-property: opacity, bottom, right;
	-webkit-transition-duration: 0, 0.3s, 0.3s;
	-webkit-transition-delay: 0.3s, 0.3s, 0.3s;
	-webkit-transition-timing-function: ease, ease, ease;
	opacity:1;
	bottom:0;
	right:0;
}

#logo.lockup #L_VERTICAL{
	-webkit-transition-property: opacity, height;
	-webkit-transition-duration: 0, 0.3s;
	-webkit-transition-delay: 0, 0;
	-webkit-transition-timing-function: ease, ease;
	opacity:1;
	height:82%;
}

#logo.reverse #L_BOTTOM{
	-webkit-transition-property: bottom, right, opacity;
	-webkit-transition-duration: 0.3s, 0.3s, 0;
	-webkit-transition-delay: 0, 0, 0.3s;
	-webkit-transition-timing-function: ease, ease ease;
	opacity:0;
	bottom:-19%;
	right:-29%;
}

#logo.reverse #L_VERTICAL{
	-webkit-transition-property: height;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-delay: 0.3s;
	-webkit-transition-timing-function: ease;
	height:25%;
}
/*  R  */


#logo #R_BLOCK{
	background: url(/img/logo-seperates/R_BLOCK.svg) no-repeat top left;
	background-size: 100%;
	width:44%;
	height:35%;
	position:absolute;
	bottom:0;
	left:0;
}

#logo #R_TOP{
	background: url(/img/logo-seperates/R_TOP.svg) no-repeat top right;
	background-size: 100%;
	position:absolute;
	top:0;
	left:-51%;
	width:95%;
	height:44%;
	opacity:0;
}

#logo #R_VERTICAL{
	background: url(/img/logo-seperates/R_VERTICAL.svg) no-repeat top left;
	background-size: 100%;
	position:absolute;
	bottom:10%;
	left:0;
	width:44%;
	height:25%;
}


/* LOCK UP ANIMATION */
#logo.lockup #R_TOP{
	-webkit-transition-property: opacity, left;
	-webkit-transition-duration: 0, 0.3s;
	-webkit-transition-delay: 0.3s, 0.3s;
	-webkit-transition-timing-function: ease, ease;
	opacity:1;
	left:-8%;
}

#logo.lockup #R_VERTICAL{
	-webkit-transition: height 0.3s ease;
	opacity:1;
	height:90%;
}

/* REVERSE LOCKUP ANIMATION */

#logo.reverse #R_TOP{
	-webkit-transition-property: left, opacity;
	-webkit-transition-duration: 0.3s, 0;
	-webkit-transition-delay: 0, 0.3s;
	-webkit-transition-timing-function: ease, ease;
	opacity:0;
	left:-51%;
}

#logo.reverse #R_VERTICAL{
	-webkit-transition-property: height;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-delay: 0.3s;
	-webkit-transition-timing-function: ease;
	height:25%;
}


#logo.hovering #L_BLOCK{
	-webkit-animation-name:hovering;
	-webkit-animation-duration: 2s;
	-webkit-animation-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
}

#logo.hovering #L_VERTICAL{
	display:none;
}

@-webkit-keyframes hovering /* Safari and Chrome */
{
	0%  {
		top: 9%;
	}
	100%  {
		top: 12%;
	}
}



.antenna{
	
	opacity:0;
	width: 15%;
	height: 30%;
	position: absolute;
	top: -100%;
	left: 50%;
}

.antenna .stick{
	height: 100%;
	width: 33%;
	position: absolute;
	background-size: 100%;
	background-image:  -webkit-linear-gradient(left, hsla(120,0%,49%,1) 0%,hsla(0,0%,27%,1) 100%); /* Chrome10+,Safari5.1+ */
}

.antenna .ball{
	height: 55%;
	width: 100%;
	top:0;
	left:-30%;
	position: absolute;
	background-size: 100%;
	border-radius: 100%;
	background-image:  -webkit-radial-gradient(center, ellipse cover, hsla(120,0%,49%,1) 0%,hsla(0,0%,27%,1) 49%,hsla(0,0%,27%,1) 100%); /* Chrome10+,Safari5.1+ */
}


.antenna .broadcast{
	height: 100%;
	width: 600%;
	top: -25%;
	left: -280%;
	position: absolute;
}

.antenna .broadcast .signal{
	opacity:1;
	width:0%;
	margin:0 auto;
	height:20%;
	border-radius: 50%;
	border:dashed 2px #000;
}


.eyes{
	height: 40%;
	width: 50%;
	position: absolute;
	top: 30%;
	left: 40%;
	z-index: 5;
	opacity:0;
}

.eyes .eye{
	float:left;
	width:50%;
	height:100%;
	border-radius:45%;
	position:relative;
	background: -webkit-radial-gradient(center, ellipse cover, hsla(76,100%,98%,1) 0%,hsla(60,38%,86%,1) 100%); /* Chrome10+,Safari5.1+ */
}

.eyes .eye .pupil{
	width:45%;
	height:30%;
	border-radius:50%;
	background:black;
	position: absolute;
	left:30%;

	-webkit-transition-property: left, top;
	-webkit-transition-duration: 0.3s, 0.3s;
	-webkit-transition-delay: 0, 0;
	-webkit-transition-timing-function: ease, ease;
}
.eyes .eye:first-child .pupil{
	left:25%;
}

/* Face Animations */

.face .eyes{
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-delay: 0;
	-webkit-transition-timing-function: ease;
	opacity:1;
}

.face .antenna{
	-webkit-transition-property: opacity, top;
	-webkit-transition-duration: 0.3s, 0.3s;
	-webkit-transition-delay: 0, 0;
	-webkit-transition-timing-function: ease, ease;
	opacity:1;
	top:-15%;
}

.face .antenna .broadcast .signal{
	-webkit-animation-name:signal_pulse;
	-webkit-animation-duration: 3s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: normal;
}


@-webkit-keyframes signal_pulse /* Safari and Chrome */
{
	0%  {
		width: 0%;
		height:20%;
		opacity:0;
		-webkit-animation-timing-function: ease-in;

	}
	50%  {
		width: 50%;
		height:40%;
		opacity:1;
	}
	100%  {
		width:100%;
		height:60%;
		opacity:0;
		-webkit-animation-timing-function: ease-out;
	}
}


/* Bored Eyes Animation */

.face.bored .eye:last-child .pupil{
	-webkit-transition-property: left, top;
	-webkit-transition-duration: 0.3s, 0.3s;
	-webkit-transition-delay: 0, 0;
	-webkit-transition-timing-function: ease, ease;
	top:0%;
	left:20%;
}

.face.bored .eye:first-child .pupil{
	-webkit-transition-property: left, top;
	-webkit-transition-duration: 0.3s, 0.3s;
	-webkit-transition-delay: 0, 0;
	-webkit-transition-timing-function: ease, ease;
	top:0%;
	left:25%;
}

/* Bored Eyes Animation */

.face.panic .eye .pupil{
	-webkit-transition-property: width, height;
	-webkit-transition-duration: 0.2s, 0.2s;
	-webkit-transition-delay: 0, 0;
	-webkit-transition-timing-function: ease, ease;
	width:55%;
	height:40%;
}

.face.panic .eyes {
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 0.1s;
	-webkit-transition-delay: 0.2s;
	-webkit-transition-timing-function: ease;
	opacity:0;
}

.face.panic .antenna {
	-webkit-transition-property: opacity, top;
	-webkit-transition-duration: 0.2s, 0.2s;
	-webkit-transition-delay: 0.1s, 0.1s;
	-webkit-transition-timing-function: ease, ease;
	opacity:0;
	top:-100%;
}




/* Utilites */
.clear{
	clear:both;
}
.left{
	float:left;
}
.right{
	float:right;
}
